.ef-form-viewer .ef-score-value {
   color: #888;
   font-weight: 600;
  font-size: 14px;
 }
.ef-form-viewer .ef-form-field {
  margin-bottom: 1em;
}
.ef-form-viewer .ef-form-caption {
  color: #0086b3;
}