.sf-input-group {
  width: 100%
}

.sf-input-group .sf-input.sf-input-area {
  height: 4em;
  resize: vertical;
  box-shadow: 0 1px 1px rgba(0,0,0,.075);
}

.sf-score-group {
  width: 5.1667em;
  font-Size: 13px;
  display: inline-block;
  float: right;

  border: 1px solid #ccc;
  border-radius: 3px;

  margin-bottom: 0.2em;
}

.sf-score-group.sf-state-focused {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #66afe9;
  outline: 0;
}

.sf-score-group .sf-score-input {
  width: 2.5em;
  height: 25px;

  font-weight: bold;
  font-size: 13px;
  text-align: right;

  border: 0;

  padding-left: 0.5em;
  padding-right: 0.2em;
  padding-top: 6px;
  padding-bottom: 6px;
}

.sf-score-group .sf-score-input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sf-score-group .sf-score-tail {
  width: 2.5em;
  height: 25px;

  display: inline-block;
  text-align: left;

  font-weight: bold;
  font-size: 13px;

  border: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 1px solid #ccc;

  padding-left: 0.2em;

  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.sf-input-group .sf-input-score:active {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);;
}

.sf-input-group-sm > * {
  font-size: 12px;
}

.sf-input-group > .input-group-addon {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.sf-input-group .sf-form-control-combobox {
  border-radius: 3px;
}

.sf-input-group .sf-form-control-combobox-not-first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sf-input-group .sf-form-control-combobox-not-last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.sf-input-group .sf-input:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.sf-input-group .sf-form-control-combobox.sf-state-focused {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #66afe9;
  outline: 0;
}

.sf-combobox-warning input {
  text-indent: 18px;
}

.sf-combobox-warning .warning-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.sf-combobox-panel {
  position: absolute;
}

.sf-combobox-panel ul {
  max-height: 200px;
  height: auto;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding: 5px 0;
  overflow: auto;
  outline: 0;
}

.sf-btn,
.sf-input {
  color: inherit;
  font: inherit;
  margin: 0;
}
button.sf-input {
  overflow: visible;
}
button.sf-input {
  text-transform: none;
}
button.sf-input,
html input[type="button"].sf-input {
  -webkit-appearance: button;
  cursor: pointer;
}
button.sf-input::-moz-focus-inner,
input.sf-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.sf-i {
  display: inline-block;
  font-family: RwWidgets;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sf-i-caret-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.sf-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sf-widget,
.sf-widget * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sf-widget:before,
.sf-widget *:before,
.sf-widget:after,
.sf-widget *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sf-widget {
  outline: 0;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  position: relative;
  background-clip: border-box;
  background-color: #fff;
  border: #ccc 1px solid;
  border-radius: 4px;
}
.sf-btn {
  color: #333;
  line-height: 2.286em;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid transparent;
  padding: 0;
  cursor: pointer;
  white-space: nowrap;
}
.sf-input {
  color: #555555;
  height: 2.286em;
  padding: 0.429em 0.857em;
  background-color: #fff;
}

ul.sf-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding: 5px 0;
  overflow: auto;
  outline: 0;
  height: 100%;
}
ul.sf-list > li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul.sf-list > li.sf-list-empty {
  font-style: italic;
}

ul.sf-list > li.sf-list-option,
ul.sf-list > li.sf-list-empty {
  padding-left: 10px;
  padding-right: 10px;
}
ul.sf-list > li.sf-list-option {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
}
ul.sf-list > li.sf-list-option:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

ul.sf-list.sf-list-grouped > li.sf-list-option.sf-state-selected {
  cursor: pointer;
  color: #333;
  background-color: #e6e6e6;
  border: 1px solid transparent;
  border-color: #adadad;
}
ul.sf-list.sf-list-grouped > li.sf-list-option {
  padding-left: 20px;
}
.sf-combobox .sf-list {
  max-height: 200px;
  height: auto;
}
.sf-widget .sf-input {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.sf-widget > .sf-select {
  border-left: #ccc 1px solid;
}
.sf-combobox {
  padding-right: 1.9em;
}
.sf-combobox > .sf-input {
  width: 100%;
  border: none;
  outline: 0;
}
.sf-combobox > .sf-input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.sf-combobox > .sf-input:-ms-input-placeholder {
  color: #999;
}
.sf-combobox > .sf-input::-webkit-input-placeholder {
  color: #999;
}
.sf-select {
  position: absolute;
  width: 1.9em;
  height: 100%;
  right: 0;
  top: 0;
}
.sf-select.sf-btn {
  height: 100%;
  vertical-align: middle;
  outline: 0;
}

.sf-select.sf-btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.sf-combobox {
  background-color: #efefef;
  border-color: #bbb;
}

.sf-combobox:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.sf-popup {
  position: absolute;
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: #ccc 1px solid;
  background: #fff;
  padding: 2px;
  overflow: auto;
  margin-bottom: 10px;
  left: 10px;
  right: 10px;
}
.sf-popup-container {
  position: absolute;
  top: 100%;
  margin-top: 1px;
  z-index: 1005;
  left: -11px;
  right: -11px;
}
